@import "tailwindcss";

:root {
  --bg-main: #0f172a;        /* dark blue */
  --bg-card: #1e293b;        /* card background */
  --bg-soft: #111827;        /* deeper background */


  --accent-green: #22c55e;
  --accent-red: #ef4444;
  --accent-blue: #3b82f6;
  --accent-yellow: #f59e0b;

  --border-color: #334155;
}

.card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--border-color);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

input, select {
  padding: 6px 10px;
  border-radius: 6px;
}

.table {
  background: var(--bg-card);
  border-radius: 12px;
  overflow: hidden;
}


* {
  transition: all 0.2s ease;
}

.react-datepicker {
  background-color: #1e293b !important;
  border: 1px solid #334155 !important;
  color: white !important;
}

.react-datepicker__header {
  background-color: #0f172a !important;
  color: white !important;
  border-bottom: 1px solid #334155 !important;
}

.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--selected {
  background-color: #3b82f6 !important;
}